#info {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

#back {
  visibility: hidden;
  vertical-align: middle;
  padding-right: 10px;
}

#back img {
  height: 30px;
}

a {
  pointer-events:auto;
  text-decoration:none;
}

#breadcrumbs {
  font-size:22px;
  font-family: "Helvetica Neue";
  font-weight:400;
}
